 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body,
html {
	overflow-x: hidden;
	 
	scroll-behavior: smooth;
}

h2,
h1, h3 {
	display: block;
	text-align: center;
	text-transform: uppercase;
}



.section2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 500px) {
	.section2 {
		flex-direction: column;
	}
}

/* BTN */
