@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.main {
	height: 1000px;
}




/* CONTACTO */

h4 {
	text-transform: uppercase;
}


/* Somos Yaru */

.somos {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	
}

.somos .somosText img {
	height: 150px;
	
}














/* CATEGORIAS PRINCIPALES */

.titulo {
	text-align: center;
	margin-bottom: 50px;
}

.categories .box-container {
    display: grid;
    height: 388px;
	
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;

    align-content: stretch;
}
 .box-container .box {
	justify-content: center;
 }

.box img {
	width: 80%;
	height: 80%;
	padding: 4px ;
	border-radius: 50% ;
	border: 2px solid black;

}

/* productos */


.bannerContainer img {
	margin-top:  10px;
	width: 100%;
	padding: 10px;
}