$color_1: black;
$background-color_1: rgba(176, 171, 115, 0.144);

.navbar-brand {
	img {
		width: 80px;
	}
}
.navbar {
	.navbar-nav {
		.nav-link {
			color: $color_1;
			font-size: 1.1em;
		}
		margin-top: 0.5em;
	}
}
ul {
	li {
		a {
			&:hover {
				background-color: $background-color_1;
				border-radius: 15px;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.navbar {
		.container-fluid {
			flex-direction: column;
		}
		.navbar-nav {
			.nav-item {
				padding: .5em 1em;
			}
		}
	}
	.navbar-brand {
		img {
			width: 100px;
			margin-top: 0.5em;
		}
	}
}

/* SECTION 1 */

.iconosTitle {
	margin: auto;
}
.iconos {
	.iconosContainer {
		display: flex;
		gap: 20px;
		justify-content: space-evenly;
		.iconosItem {
			text-align: center;
			padding: 3rem 2rem;
			img {
				margin: 1rem 0;
				height: 5rem;
			}
		}
	}
}
@media screen and (min-width: 768px ) {
	.iconos {
		.iconosContainer {
			.iconosItem {
				img {
					height: 8rem;
				}
			}
		}
	}
}

/* SECTION 2 */
/* Categorias principales */



