

/* PRODUCTOS*/

.productos {
	height: 150px;
	margin-bottom: 20px;
	position: relative;

	.productosCorp {
		@extend .banner;
		background-image: url('../imagenes/corporal_banner.jpg');
		background-position: 70% 45%;
		position: relative;
	}
	.productosCapi {
		@extend .banner;
		background-image: url('../imagenes/banner_capilar.jpg');
	}
	.productosFaci {
		@extend .banner;
		background-image: url('../imagenes/banner_facial.jpg');
	}
}

.productosText {
	display: inline-block;
	padding: .6rem;
	font-size: 2.5rem;
	letter-spacing: .8rem;
	margin-left: 5px;
	/* font-family: amatic sc; */
	color: white;
	font-weight: bolder;
	mix-blend-mode: overlay;
	text-shadow: 5px 10px 10px rgba(0, 0, 0, 5);
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
	.productosText {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: $mobile) {
	.productosText {
		
		letter-spacing: 0.5rem;
		font-size: 1.5rem;
	}
	.section2 {
		display: none;
	}
}

.card-text {
	text-align: justify;
 
font-family: 'Cormorant Upright', serif;
 
	 
}

.textCardSec {
	color : black;
}

.textCardTitle {
	color: black;
	font-weight: bolder;
}

 
/* QUIENES SOMOS */

h2.linea {
	position: relative;
	z-index: 1;
	padding: 10px;
	margin-top: 1rem;
	&:before {
		border-top: 2px solid $verdeNews;
		content: "";
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 95%;
		z-index: -1;
	}
	span {
		background: white;
		padding: 0 15px;
	}
}

.quienes_somos_banner {
	@extend .banner;
	background-image: url('../imagenes/bannerEugeCrop.jpg');
	filter: brightness(1.5);
	filter: contrast(95%);
	background-color: #555;
	box-shadow: 0 0 5px 5px #215125;
}

/* FLEx O GRID */

.quienes_somos_text {
	display: inline-block;
	padding: .6rem;
	font-size: 2.5rem;
	letter-spacing: .8rem;
	margin-left: 5px;
	/* font-family: amatic sc; */
	color: rgba(255, 255, 255, 0.815);
	font-weight: bolder;

	text-shadow: 5px 10px 10px rgba(0, 0, 0, 5);
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
	.quienes_somos_text {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: $mobile) {
	.quienes_somos_text {
		letter-spacing: 0.5rem;
		font-size: 1.5rem;
	}
}

.nosotrosText {
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 30px;
	font-weight: 900;
}

.nosotrosImg {
	margin: 5px;
}

/* RECICLA */

.recicla {
	.reciclaBanner {
		@extend .banner;
		background-image: url('../imagenes/banner-reciclaje.png');
		background-color: gray;
		box-shadow: 0 0 20px 2px #555;
	}
}

.overlay {
	position: relative;
	background-size: cover;
	margin-top: 25px;
	h2 {
		background-color: white;
		color: transparent;
		mix-blend-mode: luminosity;
		position: absolute;
		color: $color_2;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 16px;
		border-radius: 8px;
		/* font-family: $font-family_1; */
		font-size: 3rem;
		margin: 0;
		opacity: 0.5;
	}
	img {
		width: 100%;

/* NO FUNCIONA MARGIN RIGHT */

/*  margin-left: 5% ;
		margin-right: 5%;  */
	}
}

 

@media screen and (max-width: $desktop) and (min-width: $tablet) {
	.overlay {
		h2 {
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
	.overlay {
		h2 {
			font-size: 1.6rem;
		}
	}
}
@media screen and (max-width: $mobile) {
	.overlay h2 {
		font-size: 1rem;
		opacity: .6;
		top: 35%;
	}
}

.reciclaText {
	@extend .nosotrosText;
	font-family: 'sen';
}
/*  .mapContainer{
	width: 100%;
	border: 1px solid black;
	overflow: hidden;
 }
 .googlemap {
	width:100%;
	height: 400px;
 margin-left: 15%;
 margin-right: 15%;
 margin-top: 5%;;
 padding: 30px;
 }
 */

/* CONTACTO */
/* .main_contact_container { */
/* background: url('/repo_2da_Yaru/imagenes/formula_2.jpg') no-repeat center center fixed; */

/* 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #555;
	box-shadow: 0 0 20px 2px #555; 
}
*/
.contSubtitulo h4 {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.contacto .contactoBanner {
	@extend .banner;
	background-image: url('../imagenes/bannercontacto1.jpg');
	background-position: 10% 85%;
	background-color: #555;
	box-shadow: 0 0 20px 2px #555;
	margin: 0;
	padding: 0;
}

h4 {
	text-transform: uppercase;
}

.copete {
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding: 10px;
	border-top-left-radius: 4px;
}
