/* PRODUCTOS*/

.productos {
	height: 150px;
	margin-bottom: 20px;
	position: relative;

	.productosCorp {
		@extend .banner;
		background-image: url('../imagenes/corporal_banner.jpg');
		background-position: 70% 45%;
		position: relative;
	}
	.productosCapi {
		@extend .banner;
		background-image: url('../imagenes/banner_capilar.jpg');
	}
	.productosFaci {
		@extend .banner;
		background-image: url('../imagenes/banner_facial.jpg');
	}
}

.productosText {
	display: inline-block;
	padding: .6rem;
	font-size: 2.5rem;
	letter-spacing: .8rem;
	margin-left: 5px;
	/* font-family: amatic sc; */
	color: white;
	font-weight: bolder;
	mix-blend-mode: overlay;
	text-shadow: 5px 10px 10px rgba(0, 0, 0, 5);
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
	.productosText {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: $mobile) {
	.productosText {
		letter-spacing: 0.5rem;
		font-size: 1.5rem;
	}
}

.card-text {
	text-align: justify;
}

/* .card img {
	filter: brightness(1.25);
}

.card-img-top {
    flex-grow: 1;
    object-fit:contain;
} */

/*  .bg-image:hover {
	transform: scale(1.1);
	 
 } */

/* efecto card ( quedo medio choto ) */
/* AGREGAR POPOVER para modo de uso - instalar libreria y script */
/* .card {
	overflow: hidden;
}

.card img {
	transition: 1s ease; 
}

.card:hover img {
	transform: scale(1.4);
} */

/* QUIENES SOMOS */

.nosotrosText {
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 30px;
}

/* RECICLA */

.recicla .reciclaBanner {
	@extend .banner;
	background-image: url('../imagenes/banner-reciclaje.png');
	background-color: #555;
	box-shadow: 0 0 20px 2px #555;
}

.overlay {
	position: relative;
	background-size: cover;
	margin-top: 25px;
}
.overlay h1 {
	background-color: #fff;
	color: #000;
	mix-blend-mode: luminosity;
	position: absolute;

	color: blue;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 16px;
	border-radius: 8px;
	font-family: arial;
	font-size: 3em;
	margin: 0;
	opacity: 0.5;
}

@media screen and (max-width: $desktop) and (min-width: $tablet) {
	.overlay h1 {
		font-size: 2em;
	}
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
	.overlay h1 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: $mobile) {
	.overlay h1 {
		font-size: 1em;
		opacity: 0.4;
	}
}

/* para hacer esta verga responsive , media query con el font size */
/*   .overlay h1:last-child {
	mix-blend-mode: normal;
	color: transparent;
	background: none;
	box-shadow: 0 0 16px #000, 0 0 32px #000;
  } */

.overlay img {
	width: 100%;
}

/* CONTACTO */
.main_contact_container {
	background: url('/repo_2da_Yaru/imagenes/formula_2.jpg') no-repeat center center fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #555;
	box-shadow: 0 0 20px 2px #555;
}

.contSubtitulo h4 {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.contacto .contactoBanner {
	@extend .banner;
	background-image: url('../imagenes/bannercontacto1.jpg');
	background-position: 10% 85%;
	background-color: #555;
	box-shadow: 0 0 20px 2px #555;
	margin: 0;
	padding: 0;
}

h4 {
	text-transform: uppercase;
}

.copete {
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding: 10px;
	border-top-left-radius: 4px;
}
