$mobile: 576px;
$tablet: 768px;
$desktop: 1023px;

$color1: #fff;
$color2: #efefef;
$color3: aqua;
$azulFooterDark: #0a141d;
$azulFooter: #0d2033;
$hover1: #0a1a2a;

$color_1: #243c4f;
$color_2: #0a0d1a;
$color_3: white;
$color_4: rgb(129, 194, 145);
$verdeNews: rgb(129, 194, 145);
$azulNewsBtn: #243c4f;
$violetaHoverBtn: rgb(48, 59, 155);
$border-color_1: #fff;

.banner {
	background-position: 70% 30%;
	background-size: cover;
	height: 160px;
	margin-top: 20px;
	background-color: #555;
	box-shadow: 0 0 20px 2px #555;
	border-radius: 2px;
	margin-left: 0.1%;
	margin-right: 0.1%;
}

.span {
	background: hsl(152, 68%, 28%);
	color: white;
	display: inline-block;
	padding: .5rem 2rem;
	clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);

	font-family: 'Cormorant Upright', serif;
}
