@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap");
.banner, .contacto .contactoBanner, .recicla .reciclaBanner, .quienes_somos_banner, .productos .productosFaci, .productos .productosCapi, .productos .productosCorp {
  background-position: 70% 30%;
  background-size: cover;
  height: 160px;
  margin-top: 20px;
  background-color: #555;
  box-shadow: 0 0 20px 2px #555;
  border-radius: 2px;
  margin-left: 0.1%;
  margin-right: 0.1%;
}

.span, .section2 span, .iconos .iconosTitle span {
  background: hsl(152deg, 68%, 28%);
  color: white;
  display: inline-block;
  padding: 0.5rem 2rem;
  -webkit-clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
          clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  font-family: "Cormorant Upright", serif;
}

/* HEADER - NAVBAR */
.navbar-brand img {
  width: 80px;
}

.navbar .navbar-nav {
  margin-top: 0.5em;
}
.navbar .navbar-nav .nav-link {
  color: black;
  font-size: 1.3em;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .navbar .navbar-nav .nav-link {
    font-size: 1.1em;
  }
}

ul li a {
  font-family: "Cormorant Upright", serif;
  text-transform: uppercase;
}
ul li:hover {
  background-color: rgba(192, 186, 119, 0.144);
  border-radius: 15px;
}
@media screen and (max-width: 576px) {
  ul li:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 992px) {
  .navbar .container-fluid {
    flex-direction: column;
  }
  .navbar .navbar-nav .nav-item {
    padding: 0.5em 1em;
  }
  .navbar-brand img {
    width: 100px;
    margin-top: 0.5em;
  }
}
.menu-bar nav {
  background: #c1dfc4;
  background: -webkit-linear-gradient(to left, rgba(193, 223, 196, 0.45), rgba(222, 236, 221, 0.45));
  margin-bottom: 2rem;
  box-shadow: 0 0 20px 2px #555;
}

/* CARROUSEL */
#carrousel {
  background-color: #555;
  box-shadow: 0 0 20px 2px #555;
}

@media screen and (max-width: 576px) {
  #carrousel .carousel-indicators {
    display: none;
  }
}
/* SOMOS YARU */
.somos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.somos .somosText {
  padding-left: 10%;
  padding-right: 10%;
}
.somos p {
  color: rgb(0, 0, 0);
}
.somos img {
  height: auto;
  max-width: 30%;
  margin-bottom: 2rem;
}

/* SECTION 1 */
.iconos .iconosTitle {
  text-align: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}
.iconos .iconosContainer {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: -30px;
}
.iconos .iconosContainer .iconosItem {
  text-align: center;
  padding: 3rem 2rem;
}
.iconos .iconosContainer .iconosItem img {
  margin: 1rem 0;
  height: 5rem;
}

@media screen and (min-width: 768px) {
  .iconos .iconosContainer .iconosItem img {
    height: 8rem;
  }
}
/* SECTION 2  */
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  font-family: "Cormorant Upright", serif;
}
@media screen and (max-width: 576px) {
  .section2 {
    flex-direction: column;
  }
}
​ .categorias {
  background-color: aqua;
  background: url("../imagenes/bannerAgua.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
}

.categoriasItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.categoriasItem .categoriasItemBox {
  padding: 1rem;
}

.categoriasItem .categoriasItemBox p {
  color: rgb(0, 0, 0);
}

.categoriasItem .categoriasItemBox img {
  border-radius: 50%;
}

.categoriasItem .categoriasItemBox:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 1px 1px 10px #555;
  border-radius: 5px;
}

@media only screen and (max-width: 576px) {
  .categorias .categoriasItem {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .categoriasItem .categoriasItemBox:hover {
    transform: scale(1.01, 1.01);
    transition: 0.3s;
    transition-timing-function: linear;
    box-shadow: 1px 1px 30px #555;
    border-radius: 5px;
  }
}
/* SECTION 3 */
.procontainer {
  padding: 3em;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.procontainer .proItem {
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 0px 0px 7px rgba(8, 65, 8, 0.521) inset;
}
.procontainer .proItem img {
  width: 100%;
}

.containerr {
  position: relative;
  width: auto;
}

.image {
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerr:hover .image {
  opacity: 0.7;
  filter: blur(1px);
  filter: brightness(0.7);
}

.containerr:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgba(4, 170, 109, 0.6705882353);
  color: rgb(255, 255, 255);
  font-size: px;
  padding: 14px 28px;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .text {
    background-color: rgba(4, 170, 109, 0.6352941176);
    color: rgb(255, 255, 255);
    font-size: 19px;
    padding: 10px 20px;
    border-radius: 7px;
  }
}
@media screen and (max-width: 576px) {
  .procontainer {
    grid-template-columns: 1fr 1fr;
    gap: 0.6em;
    box-shadow: 0px 0px 0px rgb(0, 0, 0) inset;
  }
  .proItem:nth-child(3) {
    grid-column: 1/3;
  }
  .proItem:nth-child(6) {
    grid-column: 1/3;
  }
}
/* hr */
.separador {
  display: flex;
  justify-content: center;
  margin: 35px;
}

/* Whatsapp icon */
.whats-app {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  opacity: 80%;
}

.float {
  margin-top: 15px;
}

.news {
  padding: 80px;
  background-color: rgb(129, 194, 145);
  margin-top: 5px;
}
.news .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
.news .content h2 {
  margin-bottom: 30px;
  color: black;
  color: #0a0d1a;
  font-weight: 300;
  text-transform: uppercase;
}
.news .content .form-control {
  height: 50px;
  border-color: #fff;
  border-radius: 4;
}
.news .content .form-control:focus {
  border: 2px solid black;
}
.news .content .btn {
  min-height: 50px;
  border-radius: 4;
  background-color: #243c4f;
  color: white;
  font-weight: 600;
}
.news .content .btn:hover {
  background-color: rgb(48, 59, 155);
  color: rgb(129, 194, 145);
}

.footer {
  width: 100%;
  background-color: #0a141d;
  margin-top: 5px;
}
.footer .footerTop {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 45px 0px;
  justify-items: center;
}
.footer .footerTop .footerGridItem span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footerTop .footerGridItem span img {
  width: 150px;
}
.footer .footerTop .footerGridItem h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 1.2rem;
}
.footer .footerTop .footerGridItem p {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.footer .footerTop .redSocial {
  text-align: center;
}
.footer .footerTop .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: 2s ease;
  border-radius: 10px;
}
.footer .footerTop .redSocial a:hover {
  color: aqua;
}
.footer .footerBottom {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.footer .footerBottom small {
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .footer .footerTop {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 35px 0px;
  }
  .footer .footerTop .footerGridItem span img {
    width: 100px;
  }
}
.dire {
  font-family: "Montserrat Alternates";
  font-weight: lighter;
  font-size: 95%;
}

@media screen and (max-width: 768px) {
  .dire {
    font-size: 85%;
  }
}
/* PRODUCTOS*/
.productos {
  height: 150px;
  margin-bottom: 70px;
  position: relative;
}
.productos .productosCorp {
  background-image: url("../imagenes/corporal_banner.jpg");
  background-position: 70% 45%;
  position: relative;
}
.productos .productosCapi {
  background-image: url("../imagenes/banner_capilar.jpg");
}
.productos .productosFaci {
  background-image: url("../imagenes/banner_facial.jpg");
}

.productosText {
  display: inline-block;
  padding: 0.6rem;
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  margin-left: 5px;
  color: white;
  font-weight: bolder;
  mix-blend-mode: overlay;
  text-shadow: 5px 10px 10px rgb(0, 0, 0);
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .productosText {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 576px) {
  .productosText {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .tituloProductos .section2 {
    display: none;
  }
}
.card-text {
  font-family: "Cormorant Upright", serif;
}

.textCardSec {
  color: black;
  text-align: center;
}

.textCardTitle {
  color: black;
  font-weight: bolder;
}

/* QUIENES SOMOS */
h2.linea {
  position: relative;
  z-index: 1;
  padding: 10px;
  margin-top: 1rem;
}
h2.linea:before {
  border-top: 2px solid rgb(129, 194, 145);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.linea span {
  background: white;
  padding: 0 15px;
}

.quienes_somos_banner {
  background-image: url("../imagenes/bannerEugeCrop.jpg");
  filter: brightness(1.5);
  filter: contrast(95%);
  background-color: #555;
  box-shadow: 0 0 5px 5px #215125;
}

.quienes_somos_text {
  display: inline-block;
  padding: 0.6rem;
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  margin-left: 5px;
  /* font-family: amatic sc; */
  color: rgba(255, 255, 255, 0.815);
  font-weight: bolder;
  text-shadow: 5px 10px 10px rgb(0, 0, 0);
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .quienes_somos_text {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 576px) {
  .quienes_somos_text {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
  }
}
.nosotrosText, .reciclaText {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 30px;
  font-weight: 900;
}

.nosotrosImg {
  margin: 5px;
}

/* RECICLA */
.recicla .reciclaBanner {
  background-image: url("../imagenes/banner-reciclaje.png");
  background-color: gray;
  box-shadow: 0 0 20px 2px #555;
}

.overlay {
  position: relative;
  background-size: cover;
  margin-top: 25px;
}
.overlay h2 {
  background-color: white;
  color: transparent;
  mix-blend-mode: luminosity;
  position: absolute;
  color: #0a0d1a;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 8px;
  font-size: 3rem;
  margin: 0;
  opacity: 0.5;
}
.overlay img {
  width: 100%;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .overlay h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  .overlay h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 576px) {
  .overlay h2 {
    font-size: 1.3rem;
    opacity: 0.6;
    top: 35%;
  }
}
.reciclaText {
  font-family: "Cormorant Upright", serif;
}

/* Contacto */
.contSubtitulo h4 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.contacto .contactoBanner {
  background-image: url("../imagenes/bannercontacto1.jpg");
  background-position: 10% 85%;
  background-color: #555;
  box-shadow: 0 0 20px 2px #555;
  margin: 0;
  padding: 0;
}

.copete {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  border-top-left-radius: 4px;
}

.listContainer {
  text-align: center;
  margin-top: 30px;
}

ul.listBene {
  display: inline-block;
  text-align: left;
  font-size: 25px;
}

.reciclaTitulo,
.reciclaSubTitulo {
  padding: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  ul.listBene {
    font-size: 1rem;
    padding-right: 10%;
  }
}
/*  
font-family: 'Roboto', serif;
font-family: 'Montserrat Alternates', serif;
font-family: 'Lato', serif;
font-family: 'Nunito Sans', serif;
font-family: 'Cormorant Upright', serif;
*/
h1,
h2,
p {
  font-size: clamp(var(--min), var(--val), var(--max));
}

h1 {
  --min: 2em;
  --val: 5vw;
  --max: 3em;
}

h2 {
  --min: 1.5em;
  --val: 4vw; /*  4% viewport width */
  --max: 2.25em;
}

p {
  --min: 1.3em;
  --val: 2.5vw;
  --max: 1.6em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Upright", serif;
  font-weight: 500;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-family: " ";
}

h2 {
  display: block;
  text-align: center;
}

h3 {
  display: block;
  text-align: center;
}

p {
  font-family: "Cormorant Upright", sans serif;
}/*# sourceMappingURL=main.css.map */