@import 'variables';
@import 'index';
@import 'news';
@import 'footer';
@import 'paginas';

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poiret+One&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:wght@100;400&family=Poiret+One&family=Roboto:wght@100&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:    sans-serif;
     
}