@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poiret+One&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:wght@100;400&family=Poiret+One&family=Roboto:wght@100&display=swap");
.banner, .contacto .contactoBanner, .recicla .reciclaBanner, .quienes_somos_banner, .productos .productosFaci, .productos .productosCapi, .productos .productosCorp {
  background-position: 70% 30%;
  background-size: cover;
  height: 160px;
  margin-top: 20px;
  background-color: #555;
  box-shadow: 0 0 20px 2px #555;
  border-radius: 6px;
  margin-left: 0.3%;
}

.span, .section2 span, .iconos .iconosTitle span {
  background: hsl(152deg, 68%, 28%);
  color: white;
  display: inline-block;
  padding: 0.5rem 2rem;
  -webkit-clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
          clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  margin-top: 0.5rem;
}

/* HEADER - NAVBAR */
.navbar-brand img {
  width: 80px;
}

.navbar .navbar-nav {
  margin-top: 0.5em;
}
.navbar .navbar-nav .nav-link {
  color: black;
  font-size: 1.1em;
}

ul li a {
  font-family: "Lato", sans-serif;
}
ul li:hover {
  background-color: rgba(192, 186, 119, 0.144);
  border-radius: 15px;
}
@media screen and (max-width: 576px) {
  ul li:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 992px) {
  .navbar .container-fluid {
    flex-direction: column;
  }
  .navbar .navbar-nav .nav-item {
    padding: 0.5em 1em;
  }
  .navbar-brand img {
    width: 100px;
    margin-top: 0.5em;
  }
}
.menu-bar nav {
  background: #c1dfc4;
  background: -webkit-linear-gradient(to left, rgba(193, 223, 196, 0.45), rgba(222, 236, 221, 0.45));
  margin-bottom: 2rem;
  box-shadow: 0 0 20px 2px #555;
}

/* CARROUSEL */
#carrousel {
  background-color: #555;
  box-shadow: 0 0 20px 2px #555;
}

@media screen and (max-width: 576px) {
  #carrousel .carousel-indicators {
    display: none;
  }
}
/* SOMOS YARU */
.somos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.somos .somosText {
  padding-left: 10%;
  padding-right: 10%;
}
.somos p {
  color: black;
}
.somos img {
  height: auto;
  max-width: 30%;
  margin-bottom: 2rem;
}

/* SECTION 1 */
.iconos .iconosTitle {
  text-align: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}
.iconos .iconosContainer {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: -30px;
}
.iconos .iconosContainer .iconosItem {
  text-align: center;
  padding: 3rem 2rem;
}
.iconos .iconosContainer .iconosItem img {
  margin: 1rem 0;
  height: 5rem;
}

@media screen and (min-width: 768px) {
  .iconos .iconosContainer .iconosItem img {
    height: 8rem;
  }
}
/* SECTION 2  */
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 576px) {
  .section2 {
    flex-direction: column;
  }
}
.categorias {
  background: url("../imagenes/bannerAgua.jpg");
  justify-content: center;
  background-size: cover;
  margin-bottom: 30px;
  background-attachment: fixed;
}
.categorias .categoriasItem {
  max-width: 1250px;
  padding: 50px;
  align-content: center;
  justify-content: center;
}
.categorias .categoriasItem .categoriasItemBox {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.categorias .categoriasItem .categoriasItemBox img {
  border-radius: 140px;
  height: 250px;
  width: 90%;
  border: 1px solid rgb(8, 1, 34);
}
.categorias .categoriasItem .categoriasItemBox:hover {
  transform: scale(1.05, 1.05);
  transition: 0.3s;
}

@media only screen and (min-width: 1023px) {
  .categorias .categoriasItem .categoriasItemBox img {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .categorias .categoriasItem .categoriasItemBox img {
    width: 70%;
  }
}
/* SECTION 3 */
.procontainer {
  padding: 3em;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.procontainer .proItem {
  padding: 0.5em;
  border-radius: 0.3em;
  /* box-shadow: 10px 10px 30px black; */
  box-shadow: 0px 0px 10px rgb(0, 0, 0) inset;
}
.procontainer .proItem img {
  width: 100%;
}

/* sacar lo que no suma */
.containerr {
  position: relative;
  width: auto;
}

.image {
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerr:hover .image {
  opacity: 0.3;
}

.containerr:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* sacar lo que no suma arriba */
@media screen and (max-width: 576px) {
  .procontainer {
    grid-template-columns: 1fr 1fr;
    gap: 0.6em;
    box-shadow: 0px 0px 0px rgb(0, 0, 0) inset;
  }
  .proItem:nth-child(3) {
    grid-column: 1/3;
  }
  .proItem:nth-child(6) {
    grid-column: 1/3;
  }
}
/* hr */
.separador {
  display: flex;
  justify-content: center;
  margin: 35px;
}

.news {
  padding: 80px;
  background-color: rgb(129, 194, 145);
  margin-top: 5px;
}
.news .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
.news .content h2 {
  margin-bottom: 30px;
  color: black;
  color: #0a0d1a;
  font-weight: 300;
  text-transform: uppercase;
}
.news .content .form-control {
  height: 50px;
  border-color: #fff;
  border-radius: 4;
}
.news .content .form-control:focus {
  border: 2px solid black;
}
.news .content .btn {
  min-height: 50px;
  border-radius: 4;
  background-color: #243c4f;
  color: white;
  font-weight: 600;
}
.news .content .btn:hover {
  background-color: rgb(48, 59, 155);
  color: rgb(129, 194, 145);
}

.footer {
  width: 100%;
  background-color: #0a141d;
  margin-top: 5px;
}
.footer .footerTop {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 45px 0px;
  justify-items: center;
}
.footer .footerTop .footerGridItem span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footerTop .footerGridItem span img {
  width: 150px;
}
.footer .footerTop .footerGridItem h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .footerTop .footerGridItem p {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.footer .footerTop .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: 2s ease;
  border-radius: 10px;
}
.footer .footerTop .redSocial a:hover {
  color: aqua;
}
.footer .footerBottom {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.footer .footerBottom small {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .footer .footerTop {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 35px 0px;
  }
  .footer .footerTop .footerGridItem span img {
    width: 100px;
  }
}
/* PRODUCTOS*/
.productos {
  height: 150px;
  margin-bottom: 20px;
  position: relative;
}
.productos .productosCorp {
  background-image: url("../imagenes/corporal_banner.jpg");
  background-position: 70% 45%;
  position: relative;
}
.productos .productosCapi {
  background-image: url("../imagenes/banner_capilar.jpg");
}
.productos .productosFaci {
  background-image: url("../imagenes/banner_facial.jpg");
}

.productosText {
  display: inline-block;
  padding: 0.6rem;
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  margin-left: 5px;
  /* font-family: amatic sc; */
  color: white;
  font-weight: bolder;
  mix-blend-mode: overlay;
  text-shadow: 5px 10px 10px rgb(0, 0, 0);
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .productosText {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 576px) {
  .productosText {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
  }
}
.card-text {
  text-align: center;
}

.textCardSec {
  color: hsl(155deg, 71%, 32%);
}

/* .card img {
	filter: brightness(1.25);
}

.card-img-top {
    flex-grow: 1;
    object-fit:contain;
} */
/*  .bg-image:hover {
	transform: scale(1.1);

 } */
/* efecto card ( quedo medio choto ) */
/* AGREGAR POPOVER para modo de uso - instalar libreria y script */
/* .card {
	overflow: hidden;
}

.card img {
	transition: 1s ease; 
}

.card:hover img {
	transform: scale(1.4);
} */
/* QUIENES SOMOS */
h2.linea {
  position: relative;
  z-index: 1;
  padding: 10px;
  margin-top: 1rem;
}
h2.linea:before {
  border-top: 2px solid rgb(129, 194, 145);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.linea span {
  background: white;
  padding: 0 15px;
}

.quienes_somos_banner {
  background-image: url("../imagenes/bannerEugeCrop.jpg");
  filter: brightness(1.5);
  filter: contrast(95%);
  background-color: #555;
  box-shadow: 0 0 5px 5px #215125;
}

.quienes_somos_text {
  display: inline-block;
  padding: 0.6rem;
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  margin-left: 5px;
  /* font-family: amatic sc; */
  color: rgba(255, 255, 255, 0.815);
  font-weight: bolder;
  text-shadow: 5px 10px 10px rgb(0, 0, 0);
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .quienes_somos_text {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 576px) {
  .quienes_somos_text {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
  }
}
.nosotrosText, .reciclaText {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 30px;
  font-weight: 900;
}

/* RECICLA */
.recicla .reciclaBanner {
  background-image: url("../imagenes/banner-reciclaje.png");
  background-color: #555;
  box-shadow: 0 0 20px 2px #555;
}

.overlay {
  position: relative;
  background-size: cover;
  margin-top: 25px;
}

.overlay h1 {
  background-color: #fff;
  color: #000;
  mix-blend-mode: luminosity;
  position: absolute;
  color: blue;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 8px;
  font-family: arial;
  font-size: 3em;
  margin: 0;
  opacity: 0.5;
}

.overlay img {
  width: 100%;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .overlay h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  .overlay h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 576px) {
  .overlay h1 {
    font-size: 1em;
    opacity: 0.4;
  }
}
/* para hacer esta verga responsive , media query con el font size */
/*   .overlay h1:last-child {
	mix-blend-mode: normal;
	color: transparent;
	background: none;
	box-shadow: 0 0 16px #000, 0 0 32px #000;
  } */
/* CONTACTO */
/* .main_contact_container { */
/* background: url('/repo_2da_Yaru/imagenes/formula_2.jpg') no-repeat center center fixed; */
/* 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #555;
	box-shadow: 0 0 20px 2px #555; 
}
*/
.contSubtitulo h4 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.contacto .contactoBanner {
  background-image: url("../imagenes/bannercontacto1.jpg");
  background-position: 10% 85%;
  background-color: #555;
  box-shadow: 0 0 20px 2px #555;
  margin: 0;
  padding: 0;
}

h4 {
  text-transform: uppercase;
}

.copete {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  border-top-left-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}/*# sourceMappingURL=main.css.map */