.banner, .recicla .reciclaBanner, .productos .productosCapi, .productos .productosFaci, .productos .productosCorp {
  background-position: 70% 30%;
  background-size: cover;
  height: 160px;
  margin-top: 20px;
}

.span, .section2 span, .iconos .iconosTitle span {
  background: rgb(129, 194, 145);
  color: white;
  display: inline-block;
  padding: 0.5rem 2rem;
  -webkit-clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
          clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

/* HEADER - NAVBAR */
.navbar-brand img {
  width: 80px;
}

.navbar .navbar-nav {
  margin-top: 0.5em;
}
.navbar .navbar-nav .nav-link {
  color: black;
  font-size: 1.1em;
}

ul li a:hover {
  background-color: rgba(192, 186, 119, 0.144);
  border-radius: 15px;
}

@media screen and (min-width: 992px) {
  .navbar .container-fluid {
    flex-direction: column;
  }
  .navbar .navbar-nav .nav-item {
    padding: 0.5em 1em;
  }
  .navbar-brand img {
    width: 100px;
    margin-top: 0.5em;
  }
}
.menu-bar nav {
  background-image: linear-gradient(180deg, aquamarine, hwb(43 82% 10%));
  margin-bottom: 2rem;
}

/* CARROUSEL */
@media screen and (max-width: 576px) {
  #carrousel .carousel-indicators {
    display: none;
  }
}
/* SOMOS YARU */
.somos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.somos .somosText {
  padding-left: 10%;
  padding-right: 10%;
}

.somos .somosText img {
  height: auto;
  max-width: 30%;
  margin-bottom: 2rem;
}

/* SECTION 1 */
.iconos .iconosTitle {
  text-align: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}
.iconos .iconosContainer {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding-left: 20%;
  padding-right: 20%;
}
.iconos .iconosContainer .iconosItem {
  text-align: center;
  padding: 3rem 2rem;
}
.iconos .iconosContainer .iconosItem img {
  margin: 1rem 0;
  height: 5rem;
}

@media screen and (min-width: 768px) {
  .iconos .iconosContainer .iconosItem img {
    height: 8rem;
  }
}
/* SECTION 2  */
.categorias {
  background-image: url("/imagenes/bannerAgua.jpg");
  justify-content: center;
  background-size: cover;
  margin-bottom: 30px;
}
.categorias .categoriasItem {
  max-width: 1200px;
  padding: 50px;
  align-content: center;
  justify-content: center;
}
.categorias .categoriasItem .categoriasItemBox {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.categorias .categoriasItem .categoriasItemBox img {
  border-radius: 80px;
  height: 250px;
  width: 90%;
  border: 1px solid green;
}
.categorias .categoriasItem .categoriasItemBox:hover {
  transform: scale(1.05, 1.05);
  transition: 0.3s;
}

@media only screen and (max-width: 576px) {
  .categorias .categoriasItem .categoriasItemBox img {
    width: 70%;
  }
}
.news {
  padding: 80px;
  background-color: rgb(129, 194, 145);
  margin-top: 5px;
}
.news .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
.news .content h2 {
  margin-bottom: 30px;
  color: black;
  color: #0a0d1a;
  font-weight: 300;
  text-transform: uppercase;
}
.news .content .form-control {
  height: 50px;
  border-color: #fff;
  border-radius: 4;
}
.news .content .form-control:focus {
  border: 2px solid black;
}
.news .content .btn {
  min-height: 50px;
  border-radius: 4;
  background-color: #243c4f;
  color: white;
  font-weight: 600;
}
.news .content .btn:hover {
  background-color: rgb(48, 59, 155);
  color: rgb(129, 194, 145);
}

.footer {
  width: 100%;
  background-color: #0a141d;
  margin-top: 5px;
}
.footer .footerTop {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 45px 0px;
  justify-items: center;
}
.footer .footerTop .footerGridItem span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footerTop .footerGridItem span img {
  width: 150px;
}
.footer .footerTop .footerGridItem h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .footerTop .footerGridItem p {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.footer .footerTop .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 2s ease;
  border-radius: 10px;
}
.footer .footerTop .redSocial a:hover {
  color: aqua;
}
.footer .footerBottom {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.footer .footerBottom small {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .footer .footerTop {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 35px 0px;
  }
  .footer .footerTop .footerGridItem span img {
    width: 100px;
  }
}
/* PRODUCTOS*/
.productos {
  height: 150px;
  margin-bottom: 20px;
}
.productos .productosCorp {
  background-image: url("../imagenes/corporal_banner.jpg");
  background-position: 70% 45%;
}
.productos .productosFaci {
  background-image: url("../imagenes/banner_capilar.jpg");
}
.productos .productosCapi {
  background-image: url("../imagenes/banner_facial.jpg");
}

/* QUIENES SOMOS */
/* RECICLA */
.recicla .reciclaBanner {
  background-image: url("../imagenes/banner-reciclaje.png");
}

/* CONTACTO */
.conta {
  background: url("/imagenes/formula_3.jpg") no-repeat center center fixed;
  background-size: cover;
}

h4 {
  text-transform: uppercase;
}

.copete {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  border-top-left-radius: 4px;
}/*# sourceMappingURL=main.css.map */