$color_1: black;
$hovermenu: rgba(192, 186, 119, 0.144);

/* HEADER - NAVBAR */
.navbar-brand {
	img {
		width: 80px;
	}
}
.navbar {
	.navbar-nav {
		.nav-link {
			color: $color_1;
			font-size: 1.1em;
		}
		margin-top: 0.5em;
	}
}
ul {
	li {
		a {
			&:hover {
				background-color: $hovermenu;
				border-radius: 15px;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.navbar {
		.container-fluid {
			flex-direction: column;
		}
		.navbar-nav {
			.nav-item {
				padding: .5em 1em;
			}
		}
	}
	.navbar-brand {
		img {
			width: 100px;
			margin-top: 0.5em;
		}
	}
}

.menu-bar nav {
	background-image: linear-gradient(180deg, aquamarine, hwb(43 82% 10%));
	margin-bottom: 2rem;
}

/* CARROUSEL */

@media screen and (max-width: $mobile) {
	#carrousel .carousel-indicators {
		display: none;
	}
}

/* SOMOS YARU */

.somos {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.somos .somosText {
	padding-left: 10%;
	padding-right: 10%;
}

.somos .somosText img {
	height: auto;
	max-width: 30%;
	margin-bottom: 2rem;
}

/* SECTION 1 */

.iconos {
	.iconosTitle {
		text-align: center;
		margin: auto;
		padding-left: 10%;
		padding-right: 10%;

		span {
			background: $verdeNews;
			color: white;
			display: inline-block;
			padding: .5rem 2rem;
			clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
		}
	}
	.iconosContainer {
		display: flex;
		gap: 20px;
		justify-content: space-evenly;
		padding-left: 20%;
		padding-right: 20%;
		.iconosItem {
			text-align: center;
			padding: 3rem 2rem;
			img {
				margin: 1rem 0;
				height: 5rem;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.iconos {
		.iconosContainer {
			.iconosItem {
				img {
					height: 8rem;
				}
			}
		}
	}
}

/* SECTION 2  */
.section2 {
	@extend .iconos;
}

.categorias {
	background-image: url('https://previews.123rf.com/images/littlepaw/littlepaw1603/littlepaw160300016/56063349-green-leaves-background-eco-organic-seamless-pattern-illustration.jpg?fj=1');
	justify-content: center;
	.categoriasItem {
		max-width: 1200px;
		padding: 50px;
		align-content: center;
		justify-content: center;
		.categoriasItemBox {
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
			img {
				border-radius: 80px;
				height: 250px;
				width: 90%;
				border: 1px solid green;
			}
			&:hover {
				transform: scale(1.1, 1.1);
				transition: 0.5s;
			}
		}
	}
}
@media only screen and (max-width: 576px) {
	.categorias {
		.categoriasItem {
			.categoriasItemBox {
				img {
					width: 70%;
				}
			}
		}
	}
}
