$color_1: black;
$hovermenu: rgba(192, 186, 119, 0.144);

/* HEADER - NAVBAR */
.navbar-brand {
	img {
		width: 80px;
	}
}
.navbar {
	.navbar-nav {
		.nav-link {
			color: $color_1;
			font-size: 1.1em;
		}
		margin-top: 0.5em;
	}
}
ul {
	li {
		a {
			&:hover {
				background-color: $hovermenu;
				border-radius: 15px;
				@media screen and (max-width: $mobile) {
					background-color: transparent;
				}
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.navbar {
		.container-fluid {
			flex-direction: column;
		}
		.navbar-nav {
			.nav-item {
				padding: .5em 1em;
			}
		}
	}
	.navbar-brand {
		img {
			width: 100px;
			margin-top: 0.5em;
		}
	}
}

.menu-bar nav {
	background-image: linear-gradient(180deg, aquamarine, hwb(43 82% 10%));
	margin-bottom: 2rem;
}

/* CARROUSEL */

@media screen and (max-width: $mobile) {
	#carrousel .carousel-indicators {
		display: none;
	}
}

/* SOMOS YARU */

.somos {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	.somosText {
		padding-left: 10%;
		padding-right: 10%;
	}
	img {
		height: auto;
		max-width: 30%;
		margin-bottom: 2rem;
	}
}

/* SECTION 1 */

.iconos {
	.iconosTitle {
		text-align: center;
		margin: auto;
		padding-left: 10%;
		padding-right: 10%;
		span {
			@extend .span;
		}
	}
	.iconosContainer {
		display: flex;
		gap: 20px;
		justify-content: space-evenly;
		padding-left: 20%;
		padding-right: 20%;
		.iconosItem {
			text-align: center;
			padding: 3rem 2rem;
			img {
				margin: 1rem 0;
				height: 5rem;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.iconos {
		.iconosContainer {
			.iconosItem {
				img {
					height: 8rem;
				}
			}
		}
	}
}

/* SECTION 2  */

.section2 {
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		@extend .span;
	}
}

@media screen and (max-width: $mobile) {
	.section2 {
		flex-direction: column;
	}
}

.categorias {
	background-image: url('/imagenes/bannerAgua.jpg');
	justify-content: center;
	background-size: cover;
	margin-bottom: 30px;
	background-attachment: fixed;
	.categoriasItem {
		max-width: 1250px;
		padding: 50px;
		align-content: center;
		justify-content: center;
		.categoriasItemBox {
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
			img {
				border-radius: 80px;
				height: 250px;
				width: 90%;
				border: 1px solid green;
			}
			&:hover {
				transform: scale(1.05, 1.05);
				transition: 0.3s;
			}
		}
	}
}
@media only screen and (min-width: $desktop) {
	.categorias {
		.categoriasItem {
			.categoriasItemBox {
				img {
					width: 70%;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.categorias {
		.categoriasItem {
			.categoriasItemBox {
				img {
					width: 70%;
				}
			}
		}
	}
}

/* SECTION 3 */

.procontainer {
	padding: 3em;
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	.quote {
		padding: 1em;
		border-radius: .3em;
		box-shadow: 10px 10px 30px black;
		img {
			width:  100%;
		}

	
	}
}
