$mobile: 576px;
$tableT: 768px;
$desktop: 1200px; 

$color1: #fff;
$color2: #efefef;
$color3: aqua;
$azulFooterDark: #0a141d;
$azulFooter: #0d2033;
$hover1: #0a1a2a;

$color_1: #243c4f;
$color_2: #0a0d1a;
$color_3: white;
$color_4: rgb(129, 194, 145);
$verdeNews: rgb(129, 194, 145);
$azulNewsBtn: #243c4f;
$violetaHoverBtn: rgb(48, 59, 155);
$border-color_1: #fff;